body {
    background-color: black;
    color: white;
    background-image: url("https://wallpaperaccess.com/full/2471393.gif");
}
h2 {
    color: aqua;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
    color: blue;
    font-family: cursive;
    font-weight: 100;
}

tr:nth-child(even) {
    background-color: rgb(12, 34, 56);
}

tr:nth-child(odd) {
    background-color: rgb(50, 50, 50);
}

th {
    color: green;
}

td.short {
    background-color: rgb(14, 86, 221);
    color: red;
}

td.lunch {
    background-color: cadetblue;
    color: azure;
}

td.sports {
    background-color: cyan;
    color: darkviolet;
}

input.submit:hover {
    background-color: black;
    color: white;
}
